/* font-family: 'Roboto', sans-serif;   CSS rule to specify font families*/

body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

img {
    width: 100%;
    height: auto;
}

h1, h2, h3 {
    text-align: center;
}

nav {
    width: 85vw;
    display: inline-block;
    text-align:center;
}

nav ul {
    list-style-type: none;
}

nav a {
    color: black;
    text-decoration: none;
}

p {
    text-align: center;
}