/* font-family: 'Roboto', sans-serif;   CSS rule to specify font families*/
*{
    box-sizing: border-box;
}
main {
    display: flex;
    flex-direction: column;
}

body {
    background-color: whitesmoke;
    font-family: 'Roboto', sans-serif;
}

img {
    width: 100%;
    height: auto;
}

h1, h2, h3 {
    text-align: center;
}

h3 {
    font-size: 16px;
    padding: 25px;
}

h2 {
    font-weight:300;
}

.navigation {
    display: flex;
    flex-direction: column;
    
    
}

.navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation li {
    text-align: center;
    margin: 5px;
    padding: 11px;
    background-color: rgb(255, 255, 255);
}

a {
    font-weight: bold;
    text-decoration: none;
    color: black;
}


p {
    text-align: center;
    font-size: 18px;
}

.profile {
    margin-bottom: 45px;
}

.content {
    background-color: rgb(252, 252, 252);
    padding: 15px 5px;
    
    
}

@media screen and (min-width: 768px) {
    main {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .content {
        max-width: 50%;
        margin: 0;
        padding-top: 5px;
    }

    .title{
        text-align: center;
        flex-basis: 100vw;
        background-color: white;
        margin-bottom: 0;
    }

    .navigation {
        display: flex;
        flex-direction: row;
    }

    footer h3, p{
        text-align: center;
    }
}